<h3 class="title">History</h3>
    <div class="card__container">
        <% @events.past_events.each do | event |%>
                <div class="event__card">
                    <p><%= link_to event.name, event, class:"event__title"%></p>
                    <p><%= event.date.in_time_zone("Asia/Manila").strftime("%B")[0,3] %> &nbsp;</p>
                    <p><%= event.date.in_time_zone("Asia/Manila").year %> &nbsp; &nbsp;</p>
                    <p><%= link_to 'Expand', event, class: 'button' %> &nbsp; &nbsp;</p>
                </div>
        <% end %>
    </div>
